<html>
<head>
	<title>Create a Team and Heroes!</title>
</head>
<body>

	<form action="/teams" method="POST">
	<label for="team name">Team Name</label>
  <input type="text" placeholder="Team Name" name="teamname" value="">
  <br>
  <label for="team motto">Team Motto</label>
  <input type="text" placeholder="Team Motto" name="teammotto" value="">
  <br>
  <h1>Hero 1</h1>
  <label for="hero1">Hero Name</label>
  <input type="text" placeholder="Hero Name" name="heroname" value="">
  <br/>
  <label for="hero2">Hero Power</label>
  <input type="text" placeholder="Hero Power" name="heropower" value="">
  <br/>
  <label for="hero2">Hero Biography</label>
  <input type="text" placeholder="Hero Biography" name="herobiography" value="">
	<br/>
	<h1>Hero 2</h1>
	<label for="hero2">Hero Name</label>
  <input type="text" placeholder="Hero Name" name="heroname2" value="">
  <br/>
  <label for="hero2">Hero Power</label>
  <input type="text" placeholder="Hero Power" name="heropower2" value="">
  <br/>
  <label for="hero2">Hero Biography</label>
  <input type="text" placeholder="Hero Biography" name="herobiography2" value="">
  <br/>
	<h1>Hero 3</h1>
	<label for="hero3">Hero Name</label>
  <input type="text" placeholder="Hero Name" name="heroname3" value="">
  <br/>
  <label for="hero3">Hero Power</label>
  <input type="text" placeholder="Hero Power" name="heropower3" value="">
  <br/>
  <label for="hero3">Hero Biography</label>
  <input type="text" placeholder="Hero Biography" name="herobiography3" value="">
  <br/>

  <input type="submit" value="Submit">

	</form>

</body>
</html>
