<html>
<head>
	<title>Create a Team and Heroes!</title>
</head>
<body>

	<form action="/teams" method="POST">
	<label for="name">Team Name</label>
  <input type="text" placeholder="Team Name" name="team[name]" value="">
  <br>
  <label for="motto">Team Motto</label>
  <input type="text" placeholder="Team Motto" name="team[motto]" value="">
  <br>
  <h1>Hero 1</h1>
  <label for="hero">Hero Name</label>
  <input type="text" placeholder="Hero Name" name="hero[name]" value="">
  <br/>
  <label for="hero">Hero Power</label>
  <input type="text" placeholder="Hero Power" name="hero[power]" value="">
  <br/>
  <label for="hero">Hero Biography</label>
  <input type="text" placeholder="Hero Biography" name="hero[biography]" value="">
	<br/>
	<h1>Hero 2</h1>
	<label for="heroo">Hero Name</label>
  <input type="text" placeholder="Hero Name" name="hero[name]" value="">
  <br/>
  <label for="heroo">Hero Power</label>
  <input type="text" placeholder="Hero Power" name="hero[power]" value="">
  <br/>
  <label for="heroo">Hero Biography</label>
  <input type="text" placeholder="Hero Biography" name="hero[biography]" value="">
  <br/>
	<h1>Hero 3</h1>
	<label for="herooo">Hero Name</label>
  <input type="text" placeholder="Hero Name" name="hero[name]" value="">
  <br/>
  <label for="herooo">Hero Power</label>
  <input type="text" placeholder="Hero Power" name="hero[power]" value="">
  <br/>
  <label for="herooo">Hero Biography</label>
  <input type="text" placeholder="Hero Biography" name="hero[biography]" value="">
  <br/>

  <input type="submit" value="Submit">

	</form>

</body>
</html>
